html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #ff0778;
  background-image: url(https://dals0gb6i1pll.cloudfront.net/img/banner-mobile-buser.e1bda3c.png);
  height: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.menu {
  color: #ff0778;
  background-color: white;
  padding: 8px 25px 4px;
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 0 25px;
}

.title h1 {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.subtitle {
  padding: 0 25px 10px 25px;
}

.subtitle h2 {
  color: white;
  font-weight: 400;
  font-size: 1.15rem;
  margin: 0;
}

.box {
  height: 400px;
  width: 320px;
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: 0 5%;
}

.box button {
  background-color: #ff0778;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 6px;
  width: 320px;
  height: 45px;
  cursor: pointer;
  align-self: center;
}

.box button:hover {
  background-color: #e80068;
}

.quadrado {
  display: flex;
  flex-direction: column;
}

.quadrado label {
  font-weight: 600;
  color: #4e4c4c;
  padding-bottom: 5px;
}

.quadrado select {
  border-color: #c3c3c3;
  background-color: white;
  border-radius: 5px;
  width: 320px;
  height: 40px;
}

.quadrado input {
  border-color: #c3c3c3;
  background-color: white;
  border-radius: 5px;
  width: 310px;
  height: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  background-color: white;
  padding: 5px 15px;
}

footer p {
  color: grey;
  font-size: 0.9rem;
}
