html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #ff0778;
  background-image: url(https://dals0gb6i1pll.cloudfront.net/img/banner-mobile-buser.e1bda3c.png);
  height: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu {
  color: #ff0778;
  background-color: white;
  padding: 5px 25px 4px;
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 0 25px;
}

.title h1 {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.subtitle {
  padding: 0 25px 10px 25px;
}

.subtitle h2 {
  color: white;
  font-weight: 400;
  font-size: 1.15rem;
  margin: 0;
}

.box {
  height: 370px;
  width: 320px;
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: 0 5%;
}

.box button {
  background-color: #ff0778;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 6px;
  width: 320px;
  height: 45px;
  cursor: pointer;
  align-self: center;
}

.box button:hover {
  background-color: #e80068;
}

.select {
  margin-bottom: 5%;
  border: 1px solid #c8c8c8;
  background-color: white;
  border-radius: 5px;
  width: 310px;
  height: 40px;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

.select svg {
  width: 12px;
  height: 12px;
  padding: 12px;
  color: #5e5e5e;
}

.data {
  margin-bottom: 5%;
  border: 1px solid #c8c8c8;
  background-color: white;
  border-radius: 5px;
  width: 310px;
  height: 40px;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

.data svg {
  width: 12px;
  height: 12px;
  padding: 12px;
  color: #5e5e5e;
}

.quadrado {
  display: flex;
  flex-direction: column;
}

.quadrado label {
  font-weight: 600;
  color: #5e5e5e;
  padding-bottom: 5px;
}

.quadrado select {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  margin-top: 1%;
  border: none;
  color: gray;
  font-size: 18px;
}

.quadrado input {
  border: none;
  font-size: 18px;
}

select {
  -webkit-appearance: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  background-color: white;
  width: 100%;
}

footer a {
  color: grey;
  font-size: 0.8rem;
}

svg {
  width: 18px;
  height: 18px;
}

.icons {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 56px;
  text-align: center;
}

span {
  height: 13px;
  width: 13px;
}
